@import '@fortawesome/fontawesome-free/css/all.min.css';
@import 'bootstrap-icons/font/bootstrap-icons.css';

:root {
    font-family: var(--sans);
    line-height: 1.5;
    font-size: 12px;
    font-weight: 400;

    color-scheme: light dark;
    --sunset: linear-gradient(
        to bottom,
        #29288f 0%,
        #4149c2 28%,
        #7184dc 65%,
        #a4a6cc 76%,
        #be8c91 83%,
        #b25b75 90%,
        #6c2c6b 96%,
        #30218a 100%
    );
    --deep: linear-gradient(
        to bottom,
        #e8f5f5 0%,
        #c8e5e9 4%,
        #8fc7d2 40%,
        #3d8da3 52%,
        #0b536c 66%,
        #082e45 82%,
        #071a2c 100%
    );

    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;

    --text: #6b6375;
    --text-h: #08060d;
    --bg: #fff;
    --border: #e5e4e7;
    --code-bg: #f4f3ec;
    --accent: #0088cc; /* Vibrant Cyan-Blue */
    --accent-bg: rgba(0, 136, 204, 0.1); /* 10% opacity */
    --accent-border: rgba(0, 136, 204, 0.5); /* 50% opacity */
    --social-bg: rgba(244, 243, 236, 0.5);
    --shadow: rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;
    --content-gutter: 5%;

    --fg: var(--text-h);
    --surface: var(--bg);

    --sans: system-ui, 'Segoe UI', Inter, Roboto, Avenir, Helvetica, Arial, sans-serif;
    --heading: system-ui, 'Segoe UI', Roboto, sans-serif;
    --mono: ui-monospace, Consolas, monospace;
}

body.dark,
body.night,
body.sunset {
    --surface: var(--accent-bg);
    --fg: rgba(255, 255, 255, 0.87);
}

/* Accent Themes */

body.day {
    --surface: linear-gradient(to bottom, #f8fcfd 0%, #eef9fc 35%, #dff3fa 68%, #c9eaf7 100%);
    --fg: var(--text-h);
}

body.night {
    --surface: linear-gradient(to bottom, #183b4d 0%, #123244 35%, #0d2939 68%, #081d2b 100%);
}

body.sunset {
    --surface: var(--sunset);
}

body.deep {
    --surface: var(--deep);
}

*,
::before,
::after {
    box-sizing: border-box;
}

a {
    font-weight: 500;
    color: inherit;
    text-decoration: inherit;
    transition: 0.3s;
}
a:hover {
    color: var(--accent);
}

html,
body {
    font-size: 12px;
}

body {
    margin: 0;
    min-width: 380px;
    /* min-height: 100vh; */
    background: var(--surface);
    color: var(--fg);
    transition: background 0.4s ease-in-out;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

h1,
h2,
h3,
p {
    margin: 0;
}

p {
    line-height: 1.5;
}

#app {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin: 0 auto;
    padding: 0;
    /* place-items: center; */
    justify-content: space-between;
    max-width: 1280px;
    /* min-height: 100vh; */
    text-align: center;
}

.logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
}
.logo:hover {
    filter: drop-shadow(0 0 2em #54bc4ae0);
}
.logo.vanilla:hover {
    filter: drop-shadow(0 0 2em #3178c6aa);
}

.card {
    padding: 2em;
}

.read-the-docs {
    color: #888;
}

button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1rem;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
}
button:hover {
    border-color: (--accent);
}
button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

/* 
@media (prefers-color-scheme: dark) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }
    a:hover {
        color: #747bff;
    }
    button {
        background-color: #f9f9f9;
    }
} */
